<div class="container">
  <div class="row mt-4">
    <h5>Fill you details</h5>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input class="form-control form-control-sm" type="text" id="firstName">
        </div>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input class="form-control form-control-sm" type="text" id="lastName">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
            <label for="bloodGroup" class="form-label">Blood Group</label>
            <input class="form-control form-control-sm" type="text" id="bloodGroup">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
            <label for="aadharNumber" class="form-label">Aadhar number</label>
            <input class="form-control form-control-sm" type="text" id="aadharNumber">
        </div>
        <div class="col-md-6">
            <label for="esiNumber" class="form-label">ESI Number</label>
            <input class="form-control form-control-sm" type="text" id="esiNumber">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6">
            <label for="contactNumber" class="form-label">Emergency Contact Number 1</label>
            <input class="form-control form-control-sm" type="text" id="contactNumber">
        </div>
        <div class="col-md-6">
            <label for="contactNumber" class="form-label">Emergency Contact Number 2</label>
            <input class="form-control form-control-sm" type="text" id="contactNumber">
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row mt-5">
    <h5>Upload following documents</h5>
    <div class="row mt-3">
      <p>Identity & Address Proof</p>
      <div class="col-md-3">
        <input class="form-control form-control-lg" type="file" id="marriagecertificate" placeholder="Marriage Certificate">
      </div>
      <div class="col-md-3">
        <input class="form-control form-control-lg" type="file" id="aadharCard" placeholder="Aadhar Card">
      </div>
      <div class="col-md-3">
        <input class="form-control form-control-lg" type="file" id="drivingLicense" placeholder="Driving Licence">
      </div>
      <div class="col-md-3">
        <input class="form-control form-control-lg" type="file" id="birthCertificate" placeholder="Birth Certificate">
      </div>
    </div>
    <div class="row mt-3">
      <p>Educational Documents</p>
      <div class="col-md-3">
        <input class="form-control form-control-lg" type="file" id="12thCertificate" placeholder="12th Certificate">
      </div>
      <div class="col-md-3">
        <input class="form-control form-control-lg" type="file" id="degreeCertificate" placeholder="Degree Certificate">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <button class="btn btn-danger">cancel</button>
      <button class="btn btn-success">Submit</button>
    </div>
  </div>
</div>

